@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

:root{
  --color:#025683;
}

#button {
  display: inline-block;
  background-color: #025683;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2.2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #1d155a;
}
#button:active {
  background-color: #1d155a;
}
#button.show {
  opacity: 1;
  visibility: visible;
}


*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all .2s linear;
  text-decoration: none;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}
.hide {
  display: none !important;
}

.aa-nav {
  text-align: right;
	width: 100%;
  box-sizing: border-box;
	position: absolute;
  top: 0;
  left: 0;
	height: 65px;
	overflow: hidden;
	background: transparent;
  z-index: 11111111111111111111 !important;
}
/* ./Navbar */

/* Logo image */
.aa-nav-icon {
  position: absolute;
  height: 45px;
  cursor: pointer;
  top: 10px;
  left: 40px;
  display: inline;
  z-index: 99999999999999999;
}
/* ./Logo image */

/* Nav items */
.aa-nav-items {
  margin: 0;
	padding-right: 20px;
  line-height: 65px;
	list-style: none;
}

.aa-nav-items > li {
  display:inline-block;
  padding-left: 30px;
}

.aa-nav-items > li > a {
  text-decoration: none;
  font-size: 17px;
  color: white;
  transition: .3s;
}

.aa-nav-items > li > a:hover {
  color: #1d155a;
}

#Kycu{
  background-color: #1d155a;
  padding: 5px 25px;
  border-radius: 20px;
  color: white;
  border: 1px solid #1d155a;
}

#Kycu:hover{
  color: #1d155a;
  background-color: transparent;
  border: 1px solid #1d155a;
}
/* ./Nav items */

/* Hamburger */
.aa-icon-bar {
  background-color: white;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin-bottom: 4px;
  transition: opacity, transform;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
  z-index: 999999999999999999999999999999999999999999999999999999999 !important;
}

.aa-hamburger-menu {
  cursor: pointer;
  position: absolute;
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 999;
  display: inline;
  display: none;
  z-index: 999999999999999999999999999999999999999999999999999999999 !important;
}

.aa-hamburger-menu:hover > .aa-icon-bar {
  background-color: #1d155a;
  z-index: 999999999999999999999999999999999999999999999999999999999 !important;
}

.aa-hamburger-menu:not(.collapsed) .aa-icon-bar:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
  background-color: #1d155a;
}

.aa-hamburger-menu:not(.collapsed) .aa-icon-bar:nth-child(2) {
  opacity: 0;
  transform: translateX(-10px);    
  background-color: #1d155a;
}

.aa-hamburger-menu:not(.collapsed) .aa-icon-bar:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
  background-color: #1d155a;
}
/* ./Hamburger */

/* Mobile Overlay */
.aa-mobile-overlay {
  position: fixed;
	top: 0;
  left: 0;
	height: 100%;
	width: 100%;
	background: white;
	overflow: auto;
	z-index: 9;
  display: none;
}

.aa-mobile-nav-items {
  padding: 0;
  margin: 30px 0px;
  text-align: center;
  list-style: none;
  margin-top: 150px;
}

.aa-mobile-nav-items > li {
  display: block;
  padding-top: 30px;
}

.aa-mobile-nav-items > li > a {
  text-decoration: none;
  font-size: 20px;
  color: #333;
}

.aa-mobile-nav-items > li > a:hover {
  color: #1d155a;
}
/* ./Mobile Overlay */


/* Media queries */
@media screen and (max-width: 768px) {
  .aa-hamburger-menu {
    display: block;
  }

  .aa-nav-items {
    display: none;
  }

  .aa-nav-icon{
    z-index: 9999999999999999999999999999999999 !important;
  }
}

#Login{
  background-color: white;
  padding: 5px 25px;
  color: #025683;
  border: white;
  border-radius: 50px;
  border: 1px solid white;
}

#Login:hover{
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.header .navbar ul li a{
  font-size: 2rem;
  color:#fff;
}

.header .navbar ul li a:hover{
  color:#ccc;
}

.header .fa-bars{
  color:#fff;
  cursor: pointer;
  font-size: 3rem;
  display: none;
}

.home{
  min-height: 100vh;
  width: 100vw;
  background:linear-gradient(#025683, #0c7eba);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  padding:0 1rem;
  position: relative;
  overflow: hidden !important;
}

.home .banner{
  color:#fff;
  font-size: 5rem;
  text-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.home .slogan{
  color:#eee;
  font-size: 2rem;
  font-weight: 400;
}

fieldset {
  position: relative;
  display: inline-block;
  padding: 0 0 0 40px;
  background: #fff;
  border: none;
  border-radius: 5px;
}

input,
#SearchInput {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 0;
  display: inline-block;
  float: left;
}

input {
  color: #666;
  z-index: 2;
  border: 0 none;
}
input:focus {
  outline: 0 none;
}
input:focus + #SearchInput {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
input:focus + #SearchInput .fa {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: #fff;
}

#SearchInput {
  z-index: 1;
  width: 50px;
  border: 0 none;
  background: #025683;
  cursor: pointer;
  border-radius: 0 5px 5px 0;  
  -webkit-transform: translate(-50px, 0);
      -ms-transform: translate(-50px, 0);
          transform: translate(-50px, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.fa-search {
  font-size: 2rem;
  color: #025683;
  z-index: 3;
  top: 25%;
  -webkit-transform: translate(-190px, 0);
      -ms-transform: translate(-190px, 0);
          transform: translate(-190px, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}

.home .wave{
  position: absolute;
  bottom: -.5rem;
  left: 0;
  height:11rem;
  width: 100%;
  background: url('wave.png');
  background-size: 100rem 11rem;
  background-repeat: repeat-x;
  animation:waves 10s linear infinite;
}

.home .wave2{
  animation-direction: reverse;
  opacity: .2;
}

.home .wave3{
  animation-duration: 4s;
  opacity: .5;
}

@keyframes waves{
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: 100rem;
  }
}

.home .fa-cog{
  position: absolute;
  font-size: 30rem;
  opacity: .15;
  color:#fff;
  animation: rotate 10s linear infinite;
}

.home .nut1{
  top:10%; left: -15rem;
}

.home .nut2{
  bottom:23%; right: -13rem;
  animation-direction: reverse;
}

@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}

.about{
  min-height: 100vh;
  width: 80vw;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.about .row{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding:0 4rem;
}

.about .row .content{
  text-align: left;
}

.about .row .image img{
  width: 50rem;
}

.about .row .content h3{
  font-size: 3rem;
  color: var(--color);
}

.about .row .content p{
  font-size: 1.5rem;
  color: #333;
  padding:1rem 0;
}

.about::before, .about::after{
  content: '';
  position: absolute;
  z-index: -1;
  opacity:.2;
  border-radius: 50%;
}

.service{
  width: 80vw;
  text-align: center;
  margin: auto;
}

.service .row{
  margin:2rem 0;
  padding:0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service .row .image img{
  width:50rem;
  padding-right: 50px;
}

.service .row .content{
  text-align: left;
  padding:0 3rem;
}

.service .row .content h3{
  font-size: 3rem;
  color:var(--color);
}

.service .row .content p{
  font-size: 1.5rem;
  color:#333;
  padding:1rem 0;
}

.team{
  min-height: 100vh;
  width:100vw;
  text-align: center;
  background-color: #222;;
}

.team .heading{
  color:#fff;
}

.team .heading::before, .team .heading::after{
  border-color:#fff;
}

.team .row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.team .row .card{
  height:35rem;
  width:25rem;
  background:#fff;
  text-align: center;
  margin:7rem 2rem;
  position: relative;
  overflow: hidden;
  -webkit-box-reflect: below .2rem linear-gradient(transparent 70%, #0004);
}

.team .row .card .image{
  margin:1rem 0;
  padding-top: 4rem;
}

.team .row .card .image img{
  height:13rem;
  width:13rem;
  border-radius: 50%;
  border:.5rem solid #fff;
  box-shadow: 0 0 .5rem rgba(0,0,0,.3);
  object-fit: cover;
}

.team .row .card .info h3{
  font-size: 2rem;
  color:#333;
}

.team .row .card .info span{
  font-size: 1.8rem;
  color:var(--color);
}

.team .row .card .info .icons a{
  margin-top: 4rem;
  padding:0 1rem;
  font-size: 2rem;
  color:#333;
}

.team .row .card .info .icons a:hover{
  color:var(--color);
}

.team .row .card::before, .team .row .card::after{
  content: '';
  position: absolute;
  border-radius: 50%;
  height:15rem;
  width:15rem;
  z-index: -1;
}

.team .row .card::before{
  background:var(--color);
  top:-3rem; right: -4rem;
}

.team .row .card::after{
  background:#ccc;
  bottom:-3rem; left: -4rem;
}

.contact{
  min-height: 100vh;
  width: 80vw;
  text-align: center;
  margin: auto;
}

.contact .row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .row .image img{
  width:50rem;
}

.contact .row .form-container{
  width: 50%;
  text-align: left;
  padding:0 5rem;
}

.contact .row .form-container input, textarea{
  outline: none;
  border:none;
  height:4rem;
  background: none;
  border-radius: .5rem;
  box-shadow: .2rem .2rem .5rem rgba(0,0,0,.2);
  padding:0 1rem;
  margin:1rem 0;
  font-size: 1.6rem;
}

.contact .row .form-container .inputBox{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contact .row .form-container .inputBox input[type="text"]{
  width: 49%;
}

.contact .row .form-container input[type="email"]{
  width: 100%;
}

.contact .row .form-container textarea{
  width: 100%;
  height:20rem;
  padding:1rem; 
  resize: none;
}

.contact .row .form-container input[type="submit"],.btn{
  background-color: var(--color);
  color:#fff;
  cursor: pointer;
  height:4rem; 
  width: 10rem;
  border: 1px solid var(--color);
  border-radius: 10px;
}

.contact .row .form-container input[type="submit"]:hover, .btn:hover{
  color: var(--color);
  background-color: transparent;
  border: 1px solid var(--color);
}

.faq{
  width: 80vw;
  text-align: center;
  padding:0 2rem;
  margin: auto;
}

.faq .row{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0 2rem;
}

.faq .row .image img{
  width:50rem;
}

.faq .row .accordion-container{
  width: 50%;
  text-align: left;
}

.faq .row .accordion-container .accordion .accordion-header{
  background-color: var(--color);
  margin:1rem 0;
  box-shadow: .1rem .1rem .3rem rgba(0,0,0,.3);
  cursor: pointer;
}

.faq .row .accordion-container .accordion .accordion-header span{
  display: inline-block;
  text-align: center;
  height:4rem;
  width:5rem;
  line-height: 4rem;
  font-size: 2rem;
  background:#fff;
  color:#333;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.faq .row .accordion-container .accordion .accordion-header h3{
  display: inline;
  color: #fff;
  font-weight: 400;
  padding-left: .5rem;
  font-size: 1.5rem;
}

.faq .row .accordion-container .accordion .accordion-body{
  padding:1rem;
  color:#444;
  box-shadow: .1rem .1rem .3rem rgba(0,0,0,.3);
  font-size: 1.3rem;
  display: none;
}

.faq .row .accordion-container .accordion:nth-child(1) .accordion-body{
  display: block;
}










/* media queries  */

@media (max-width:768px){

  html{
    font-size: 55%;
  }
  .home .banner{
    font-size: 4rem;
  }

  .home .slogan{
    font-size: 1.7rem;
  }

  .about .row{
    flex-flow: column-reverse;
    padding:0 2rem;
  }

  .about .row .image img{
    width: 100vw;
  }

  .service .row{
    flex-flow: column-reverse;
  }

  .service .row:nth-child(even){
    flex-flow: column;
  }

  .service .row .image img{
    width: 100vw;
  }

  .service .row .content{
    padding:0;
  }

  .contact .row{
    flex-flow: column;
  }

  .contact .row .image img{
    width: 100vw;
  }

  .contact .row .form-container{
    width: 100%;
    padding:0 1.5rem;
  }

  .faq{
    padding:0;
  }

  .faq .row{
    padding:0 1rem;
    flex-flow: column;
  }

  .faq .row .image img{
    width:100vw;
  }

  .faq .row .accordion-container{
    width:100%;
  }

}

.footer {
  background-color: #025683;
  color: #fff;
  width: 100vw;
  text-align: center;
}

.footer > p{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 25px 0;
  text-transform: normal;
  margin-top: -50px;
}
.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}
.footer-wave-path {
  fill: #fffff2;
}

#SocialMedias{
  width: 200px;
  margin: 20px auto 0 auto;
}

.hide-text{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.ease-all{
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

/* Social Icons */

.social{
	height: 10rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}


.social li a{
	display: inline-block;
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 1.5rem;
	text-align: center;
	padding-top: 10px;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	-o-border-radius:50px;
	-ms-border-radius:50px;
	border-radius:50px;
	/*background-color: #222;*/
	-webkit-box-shadow: inset 0 0 0 40px white;
	-moz-box-shadow: inset 0 0 0 40px white;
	-o-box-shadow: inset 0 0 0 40px white;
	-ms-box-shadow: inset 0 0 0 40px white;
	box-shadow: inset 0 0 0 40px white;
	font-size: 22px;
	color: #025683;
}

.social li a:hover{
	-webkit-box-shadow: inset 0 0 0 3px white;
	-moz-box-shadow: inset 0 0 0 3px white;
	-o-box-shadow: inset 0 0 0 3px white;
	-ms-box-shadow: inset 0 0 0 3px white;
	box-shadow: inset 0 0 0 3px white;
	
	color: white;
}

