body{
	background-image: url('/img/eventsbgWhite.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	/* background-image-opacity: 0.5; */
}
h1{
	text-align: center;
	font-family: Ribeye;
	color: #845EC2;
	font-size: 100px;
}
.container{
	height: 400px;
	display: flex;
}
#section-1{
	width: 40%;
	margin-left: 50px;
}
#info{
	width: 60%;
	float: right;
}
h2{
	margin-left: 25px;
	color: #845EC2;
}
#info p{
	font-size: 20px;
}
.line{
	border-left: 3px solid black;
	height: 200px;
	margin-right: 50px;
}