@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}


/* header h1 {
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  color: #2e2e8d;
  text-transform: uppercase;
} */
body {
  background-image: url("Untitled\ design.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.headicon {
  width: 10%;
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
​ ​.image1 {
	background-image: url("/img/blue2.png");
	position: relative;
	left: 200px;
}
.img2 {
  background-image: url("/img/blue1.png");
  position: relative;
  left: 80px;
}

​ .img3 {
  background-image: url("/img/blue2.png");
  z-index: 5;
}
.img3 img {
  width: 140px;
  height: 75px;
}
.img4 {
  background-image: url("/img/blue1.png");
  position: relative;
  right: 80px;
  z-index: 1;
}
.img5 {
  background-image: url("/img/blue2.png");
  position: relative;
  right: 200px;
}
.headicon a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #2e2e8d;
  text-shadow: 0.5px 0px white;
}
.headicon:hover {
  z-index: 6;
  transform: scale(1.3);
  overflow: hidden;
}
.anesa-row{
	display: flex;
	text-align: center;
	margin-top: 200px;
	margin-left: 25px;

}
.anesa-row h4{
	font-family: "Poppins", sans-serif;
	color: #1d155a;
	padding-top: 20px;
	font-size: 20px;
}
.anesa-row h1{
	font-family: "Poppins", sans-serif;
	font-size: 20px;
}
.anesa-row .event{
	/* padding-right: 80px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.anesa-row .event button{
   border-color: #1d155a;
   font-family: "Poppins", sans-serif;
   background-color: white;
   margin-right: 0px;
   padding-left: 10px;
   display: flex;
   margin-left: 50px;
   text-align: center;
   margin-top: 30px;
}
.anesa-row .event button:hover{
   color: #1d155a;
}
.anesa-row img{
   opacity: 1;
   transition: .5s ease;
   backface-visibility: hidden;
}
.event img:hover{
   opacity: 0.85;
}
.b{
   padding: 5px;
   margin-left: 0px;
   color: #1d155a;
}
.b:hover{
   background-color: #1d155a;
   color: white;
}
.event .c{
   font-size: 13px;
   padding-right: 3px;
}
.event-content{
   padding-left: 15%;
   padding-right: 15%;
}
.fix{
	padding-left: 20%;
}
.vl{
   border-left: 2px solid #1d155a;
   height: 26px;
   margin-left: 3px;
}
.divider{
   border-color: #1d155a;
   font-family: "Poppins", sans-serif;
   background-color: white;
   margin-right: 0px;
   padding-left: 10px;
   display: flex;
   margin-left: 560px;
   text-align: center;
   margin-top: 30px;
}
.divider .b{
   padding: 5px;
   margin-left: 0px;
   color: #1d155a;
}
.divider .b:hover{
   background-color: #1d155a;
   color: white;
}
.anesa2{
	display: flex;
	margin-top: 100px;
	margin-left: 25px;
	background-color: #ECF3F4;
	position: relative;
}
.image{
   padding-top: 50px;
   text-align: center;
}
.info{
   margin-left: 50px;
   margin-right: 100px;
   padding: 50px;
   background-color: white;
   margin-bottom: 100px;
   position: relative;
   top: -100px;
   left: 8px;
}
.info h5{
   font-size: 15px;
   font-family: "Poppins", sans-serif;
   padding-bottom: 20px;
}
.info h1{
   font-size: 20px;
   font-family: "Poppins", sans-serif;
   padding-bottom: 15px;
}
.info h1:hover{
   color: #1d155a;
}
.ikona .b{
   margin-left: 350px;
   border: 1px solid #1d155a;
   padding: 10px;
}
.anesa2 img{
   opacity: 1;
   transition: .5s ease;
   backface-visibility: hidden;
}
.anesa2 img:hover{
   opacity: 0.85;
}
.anesa3{
   background-image: url('https://www.acenet.edu/PublishingImages/Interior-Page-Heroes/2018ACE-1045.JPG?RenditionID=10');
   background-size: cover;
   background-position: center;
   height: 500px;
}
.box{
   margin-left: 100px;
   margin-right: 600px;
   padding: 50px;
   background-color: white;
   margin-top: 100px;
   position: relative;
   top: 100px;
   left: 8px;
}
.box h5{
   font-size: 20px;
   color: #1d155a;
   padding-bottom: 20px;
}
.box h1{
   font-size: 20px;
   padding-bottom: 15px;
}
.study{
   border-color: #1d155a;
   font-family: "Poppins", sans-serif;
   background-color: white;
   margin-right: 0px;
   padding-left: 10px;
   display: flex;
   text-align: center;
   margin-top: 30px;
}



  *{
	font-family: 'Poppins', sans-serif;
	margin:0; padding:0;
	box-sizing: border-box;
	text-transform: capitalize;
	transition: all .2s linear;
	text-decoration: none;
  }