/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.1.3
* Docs at http://davidtheclark.github.io/scut
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ' ';
  content: none; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

img {
  border: 0;
  vertical-align: middle; }

p {
  margin: 1em 0; }
  p:first-of-type {
    margin-top: 0; }
  p:last-of-type {
    margin-bottom: 0; }

a {
  text-decoration: none; }

.hide {
  display: none !important; }

.show {
  display: block; }

.show-ib {
  display: block; }

input[type=number] {
  -moz-appearance: textfield; }

.table-cell {
  display: table-cell;
  vertical-align: middle; }

input {
  border-radius: 0; }
  input:focus {
    outline: none; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

[data-lightbox] {
  cursor: pointer; }

.maintain-aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  background-color: #000;
  padding-bottom: 63%; }
  @media (min-width: 751px) {
    .maintain-aspect-ratio {
      padding-bottom: 56.25%; } }
  .maintain-aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }

.fade-in-on-load {
  visibility: hidden; }

* {
  -webkit-tap-highlight-color: transparent; }

#__bs_notify__ {
  display: none !important;
  opacity: 0 !important;
  bottom: 0 !important;
  top: auto !important; }

@font-face {
  font-family: "DIN Next W01 Regular";
  src: url("Fonts/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix");
  src: url("Fonts/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix") format("eot"), url("Fonts/44e7b0fa-6c8d-43c2-b19e-f1e3ce9ea57c.woff2") format("woff2"), url("Fonts/c5a7f89e-15b6-49a9-8259-5ea665e72191.woff") format("woff"), url("Fonts/868c94b5-ca49-46b7-b62b-297f8d861125.ttf") format("truetype"), url("Fonts/e3145f65-29b5-4f7f-8c6e-2dc135021b6a.svg#e3145f65-29b5-4f7f-8c6e-2dc135021b6a") format("svg"); }

@font-face {
  font-family: "DIN Next W01 Medium";
  src: url("Fonts/324dee78-6585-4c13-8ca3-5817cc600d84.eot?#iefix");
  src: url("Fonts/324dee78-6585-4c13-8ca3-5817cc600d84.eot?#iefix") format("eot"), url("Fonts/be607c9f-3c81-41b4-b7ad-17af005c80bb.woff2") format("woff2"), url("Fonts/4bf0ead4-e61b-4992-832b-6ff05828d99f.woff") format("woff"), url("Fonts/73713a0b-8f6a-4c4e-b8a8-7cf238e632f6.ttf") format("truetype"), url("Fonts/b90b6bdf-15e2-4544-9fe0-92c79fff0ecd.svg#b90b6bdf-15e2-4544-9fe0-92c79fff0ecd") format("svg"); }

@font-face {
  font-family: "DIN Next W01 Heavy";
  src: url("Fonts/ffaa522c-c9e9-4f51-8688-2a18c2987b94.eot?#iefix");
  src: url("Fonts/ffaa522c-c9e9-4f51-8688-2a18c2987b94.eot?#iefix") format("eot"), url("Fonts/7bf16356-e401-402b-969e-ca3ffbd56142.woff2") format("woff2"), url("Fonts/d5c47039-3cdf-4eb9-ad4a-220e7441ec5d.woff") format("woff"), url("Fonts/64bef797-e9f8-447f-b80a-aece7617c45f.ttf") format("truetype"), url("Fonts/a7139e2d-6218-4f3c-9bb0-b42325336f56.svg#a7139e2d-6218-4f3c-9bb0-b42325336f56") format("svg"); }

@font-face {
  font-family: "DIN Next W01 Black";
  src: url("Fonts/abcc85a3-c3f7-49d9-a80a-f79267998ec7.eot?#iefix");
  src: url("Fonts/abcc85a3-c3f7-49d9-a80a-f79267998ec7.eot?#iefix") format("eot"), url("Fonts/9ab9d016-1519-4c53-849d-77e9a49db637.woff2") format("woff2"), url("Fonts/9541b817-6a02-4e7a-af21-ce24b70d9ba3.woff") format("woff"), url("Fonts/c1a5af90-f79a-44b1-a4a4-5fd6d888c2f2.ttf") format("truetype"), url("Fonts/0c36e45b-5edd-4927-b9ad-2e46a30e5593.svg#0c36e45b-5edd-4927-b9ad-2e46a30e5593") format("svg"); }

@font-face {
  font-family: "DIN Next Slab W01 Regular";
  src: url("Fonts/56641278-fcc2-4d2a-917c-e6e6ff2f95f7.eot?#iefix");
  src: url("Fonts/56641278-fcc2-4d2a-917c-e6e6ff2f95f7.eot?#iefix") format("eot"), url("Fonts/bd445a03-c03d-4d4e-b23e-480a56b9de92.woff2") format("woff2"), url("Fonts/27f66ee3-a899-442e-826f-05803076a11b.woff") format("woff"), url("Fonts/ea3b2371-c6f1-48ce-8500-aec1ecda514c.ttf") format("truetype"), url("Fonts/bd89bcb5-34a6-4941-86a8-e96621491a5c.svg#bd89bcb5-34a6-4941-86a8-e96621491a5c") format("svg"); }

@font-face {
  font-family: "DIN Next Slab W01 Bold";
  src: url("Fonts/a396bafc-3048-4e94-896e-2f374737e847.eot?#iefix");
  src: url("Fonts/a396bafc-3048-4e94-896e-2f374737e847.eot?#iefix") format("eot"), url("Fonts/0e002873-de3b-49e8-a285-41a990e754bf.woff2") format("woff2"), url("Fonts/2429e66e-bd7e-4aa5-aa83-736ffd545c91.woff") format("woff"), url("Fonts/a909ebb0-f2e8-4bd1-b282-7237126f1bf7.ttf") format("truetype"), url("Fonts/79bdb46f-7511-422d-b2eb-2b8fc07b2918.svg#79bdb46f-7511-422d-b2eb-2b8fc07b2918") format("svg"); }

@font-face {
  font-family: "DIN Next Slab W01 Heavy";
  src: url("Fonts/07adb433-2da7-4098-b084-e179bde0b0fb.eot?#iefix");
  src: url("Fonts/07adb433-2da7-4098-b084-e179bde0b0fb.eot?#iefix") format("eot"), url("Fonts/8254dd86-c723-4898-bb33-4fdd4d08c4bd.woff2") format("woff2"), url("Fonts/715298a4-9206-4f15-af97-72af0c8c9684.woff") format("woff"), url("Fonts/cee83423-c1d3-4102-8bb6-ee93d4a48694.ttf") format("truetype"), url("Fonts/09f12561-d2b3-4b8a-82f2-c84a4d6dc30e.svg#09f12561-d2b3-4b8a-82f2-c84a4d6dc30e") format("svg"); }

@font-face {
  font-family: "DIN Next Slab W01 Black";
  src: url("Fonts/0fff593c-584d-413b-9fd2-ac25c41ebede.eot?#iefix");
  src: url("Fonts/0fff593c-584d-413b-9fd2-ac25c41ebede.eot?#iefix") format("eot"), url("Fonts/f27640b5-2748-4996-8517-424dd4f6dd72.woff2") format("woff2"), url("Fonts/43a28043-d050-48a9-981d-1c727c37f9cf.woff") format("woff"), url("Fonts/631760ac-2035-4903-827c-d61a194810f9.ttf") format("truetype"), url("Fonts/91b2b5e3-0727-44ad-8a1d-5480dac32e86.svg#91b2b5e3-0727-44ad-8a1d-5480dac32e86") format("svg"); }

.borders {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  display: none; }
  .borders .border {
    background-color: #efefef;
    position: fixed;
    z-index: 3; }
    .borders .border.top {
      width: 100%;
      height: 13px;
      top: 0;
      left: 0; }
      @media (min-width: 751px) {
        .borders .border.top {
          height: 18px; } }
    .borders .border.right {
      width: 13px;
      height: 100%;
      top: 0;
      right: 0; }
      @media (min-width: 751px) {
        .borders .border.right {
          width: 18px; } }
    .borders .border.bottom {
      width: 100%;
      height: 13px;
      left: 0;
      bottom: 0; }
      @media (min-width: 751px) {
        .borders .border.bottom {
          height: 18px; } }
    .borders .border.left {
      width: 13px;
      height: 100%;
      left: 0;
      top: 0; }
      @media (min-width: 751px) {
        .borders .border.left {
          width: 18px; } }

nav .nav {
  max-width: 700px;
  margin: 0 auto 36px;
  width: 70%;
  height: 100px;
  position: relative;
  z-index: 3;
  perspective-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000px;
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  @media (min-width: 751px) {
    nav .nav {
      margin-bottom: 0;
      height: 230px;
      max-width: 700px;
      width: 86%; } }
  @media (min-width: 1025px) {
    nav .nav {
      max-width: 745px;
      height: 250px; } }
  #home nav .nav {
    left: -10px; }
  .subpage nav .nav {
    width: 77%; }
  nav .nav .hit {
    position: absolute;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -30px;
    width: 230px;
    height: 140px;
    background-color: transparent;
    z-index: 50; }
    @media (min-width: 751px) {
      nav .nav .hit {
        height: 250px; } }
    #home nav .nav .hit {
      display: none; }
  nav .nav li {
    cursor: pointer;
    width: 23%;
    position: absolute; }
    .subpage nav .nav li {
      width: 19.8%;
      left: 40%; }
    #home nav .nav li.studio {
      left: 0;
      background-color: #302e2d; }
    nav .nav li.studio .title {
      background: url("/img/global/nav-studio@2x.png") top left no-repeat;
      background-size: 100% 100%; }
    nav .nav li.studio .bg {
      background: url("/img/global/nav-bg-dark-gray.png") top left no-repeat; }
    #home nav .nav li.work {
      left: 20%;
      background-color: #4197ad; }
    nav .nav li.work .title {
      background: url("/img/global/nav-work@2x.png") top left no-repeat;
      background-size: 100% 100%; }
    nav .nav li.work .bg {
      background: url("/img/global/nav-bg-blue.png") top left no-repeat; }
    nav .nav li.home {
      z-index: 10; }
      #home nav .nav li.home {
        z-index: auto;
        left: 40%;
        cursor: default;
        background-color: #c2bfbb; }
        #home nav .nav li.home a {
          cursor: default; }
      nav .nav li.home .bg {
        background: url("/img/global/nav-bg-light-gray.png") top left no-repeat; }
    #home nav .nav li.brands {
      left: 60%;
      background-color: #cb702e; }
    nav .nav li.brands .title {
      background: url("/img/global/nav-brands@2x.png") top left no-repeat;
      background-size: 100% 100%; }
    nav .nav li.brands .bg {
      background: url("/img/global/nav-bg-orange.png") top left no-repeat; }
    nav .nav li.inquire {
      z-index: -1; }
      #home nav .nav li.inquire {
        z-index: auto;
        left: 80%;
        background-color: #b5ac47; }
      nav .nav li.inquire .title {
        background: url("/img/global/nav-inquire@2x.png") top left no-repeat;
        background-size: 100% 100%; }
      nav .nav li.inquire .bg {
        background: url("/img/global/nav-bg-yellow.png") top left no-repeat; }
    nav .nav li.blank {
      height: 120px;
      pointer-events: none; }
      @media (min-width: 751px) {
        nav .nav li.blank {
          height: 170px; } }
      nav .nav li.blank.blank1 {
        background-color: rgba(80, 106, 113, 0.93); }
      nav .nav li.blank.blank2 {
        background-color: rgba(133, 180, 192, 0.93); }
      nav .nav li.blank.blank3 {
        background-color: rgba(185, 130, 91, 0.93); }
      nav .nav li.blank.blank4 {
        background-color: rgba(203, 150, 76, 0.93); }
    nav .nav li .sticky {
      position: relative; }
      nav .nav li .sticky .title {
        text-align: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        transition: 0.2s opacity; }
        nav .nav li .sticky .title img {
          width: 100%; }
        .subnav-open nav .nav li .sticky .title {
          opacity: 1 !important; }
        #home nav .nav li .sticky .title {
          opacity: 0; }
      nav .nav li .sticky .icon {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        transition: 0.15s opacity;
        background: url("/img/global/ring-tree.png") top left no-repeat;
        background-size: 100% 100%; }
        #home nav .nav li .sticky .icon {
          display: none; }
        nav .nav li .sticky .icon img {
          width: 100%;
          max-width: 170px; }
      nav .nav li .sticky .home-icon {
        position: absolute;
        top: 0;
        left: 0px;
        width: 100%;
        padding-bottom: 100%;
        max-width: 170px;
        z-index: 51;
        background: url("/img/global/ring-tree.png") top left no-repeat;
        background-size: 100% 100%; }
        #home nav .nav li .sticky .home-icon {
          opacity: 0; }
      nav .nav li .sticky .bg {
        max-width: 170px;
        width: 100%;
        opacity: 0.94;
        padding-bottom: 100%;
        background-size: 100% 100%; }

#nav-darken {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), transparent); }

#section-slider {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  overflow: hidden;
  height: 54px; }
  #section-slider .track {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7px;
    pointer-events: none;
    background-color: rgba(225, 226, 219, 0.43); }
    @media (min-width: 751px) {
      #section-slider .track {
        height: 8px; } }
  #section-slider .bounds {
    position: absolute;
    left: 6.5%;
    right: 140px;
    bottom: 0;
    height: 42px;
    z-index: -2;
    background-color: rgba(255, 255, 0, 0); }
    @media (min-width: 751px) {
      #section-slider .bounds {
        height: 50px;
        right: 170px; } }
  #section-slider .scrubber {
    display: none;
    width: 54px;
    height: 44px;
    background-image: url("/img/global/tree-dragger.png");
    background-size: 54px 44px;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    bottom: 9px;
    z-index: 5;
    transition: bottom 0.12s;
    -ms-transform: translateX(6.5vw);
    transform: translateX(6.5vw); }
    @media (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
      #section-slider .scrubber {
        background-image: url("/img/global/tree-dragger@2x.png");
        background-size: 54px 44px; } }
    @media (min-width: 751px) {
      #section-slider .scrubber {
        width: 60px;
        height: 50px;
        background-image: url("/img/global/tree-dragger.png");
        background-size: 60px 50px;
        background-repeat: no-repeat;
        bottom: 11px; } }
  @media (min-width: 751px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 751px) and (-webkit-min-device-pixel-ratio: 144), (min-width: 751px) and (min-resolution: 144dppx) {
    #section-slider .scrubber {
      background-image: url("/img/global/tree-dragger@2x.png");
      background-size: 60px 50px; } }

body.grab {
  cursor: -webkit-grab !important;
  cursor: -moz-grab !important; }
  .ua-ie body.grab {
    cursor: pointer !important; }

body.grabbing {
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
  bottom: 16px !important; }
  .ua-ie body.grabbing {
    cursor: pointer !important; }

#home {
  background: url("/img/home/bg.jpg") center center no-repeat;
  background-size: cover;
  text-align: center;
  pointer-events: none; }
  #home:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 61, 61, 0); }
  #home:after {
    opacity: 0.06;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASIAAAEiAQMAAABncE31AAAABlBMVEX///////9VfPVsAAAAAnRSTlMB6MFZljMAAABmSURBVHgB7dArAYBQAMBA/ooAxCASUYhGNCpMPXXTUzeVvjLNb7nWqXSk60zXla47Xc8QLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLlxT4voBlTtI+ZhozPwAAAAASUVORK5CYII=") 49% 0% repeat;
    background-size: 190px 190px; }
    @media (min-width: 751px) {
      #home:after {
        background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASIAAAEiAQMAAABncE31AAAABlBMVEX///////9VfPVsAAAAAnRSTlMB6MFZljMAAABmSURBVHgB7dArAYBQAMBA/ooAxCASUYhGNCpMPXXTUzeVvjLNb7nWqXSk60zXla47Xc8QLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLlxT4voBlTtI+ZhozPwAAAAASUVORK5CYII=") 49% 0% repeat;
        background-size: 290px 290px; } }
  #home .content {
    display: table;
    width: 100%;
    height: 100%;
    color: #fefefe;
    position: relative;
    z-index: 2; }
    #home .content .inner {
      display: table-cell;
      vertical-align: middle;
      top: -16px;
      position: relative; }
      @media (min-width: 751px) {
        #home .content .inner {
          top: -40px; } }
      #home .content .inner .titles {
        margin-bottom: 16px;
        height: 65px;
        position: relative;
        z-index: 1;
        pointer-events: none; }
        @media (min-width: 751px) {
          #home .content .inner .titles {
            height: 128px;
            margin-bottom: 0; } }
        @media (min-width: 1025px) {
          #home .content .inner .titles {
            height: 133px; } }
        #home .content .inner .titles h1 {
          position: absolute;
          top: 0;
          height: 65px;
          left: 50%;
          margin-left: -150px;
          font-family: 'DIN Next Slab W01 Black', sans-serif;
          font-size: 5em;
          letter-spacing: 0.008em;
          color: #fcfcfc;
          overflow: hidden; }
          @media (min-width: 751px) {
            #home .content .inner .titles h1 {
              font-size: 8.125em;
              margin-left: -246px;
              height: 100px; } }
          @media (min-width: 1025px) {
            #home .content .inner .titles h1 {
              font-size: 8.375em; } }
          #home .content .inner .titles h1 div {
            position: relative;
            top: -2px; }
            @media (min-width: 751px) {
              #home .content .inner .titles h1 div {
                top: -6px; } }
        #home .content .inner .titles img {
          opacity: 0.95;
          max-width: 490px;
          margin-bottom: 15px; }
      #home .content .inner nav {
        z-index: 2;
        position: relative; }
      #home .content .inner .prod-co {
        text-align: center;
        display: inline-block; }
        #home .content .inner .prod-co .line {
          width: 30px;
          height: 4px;
          opacity: 0.95;
          background-color: #efefef;
          margin: 0 auto 17px;
          display: none; }
          @media (min-width: 751px) {
            #home .content .inner .prod-co .line {
              margin: 0 auto 26px;
              width: 40px;
              height: 7px;
              display: block; } }
        #home .content .inner .prod-co h5 {
          font-family: "DIN Next Slab W01 Regular", sans-serif;
          font-size: 1.125em;
          opacity: 0.95;
          color: #efefef;
          letter-spacing: 0.04em;
          opacity: 0.75; }
          .ua-safari #home .content .inner .prod-co h5 {
            font-family: 'DIN Next Slab W01 Bold', sans-serif; }
            .ua-safari .ua-safari #home .content .inner .prod-co h5 {
              font-family: 'DIN Next Slab W01 Heavy', sans-serif; }
          @media (min-width: 751px) {
            #home .content .inner .prod-co h5 {
              font-size: 1.25em; } }

#studio .deer-bg {
  background: url("/img/studio/bg-deer.jpg") center center no-repeat;
  background-size: cover; }
  #studio .deer-bg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(84, 88, 89, 0); }
  #studio .deer-bg:after {
    opacity: 0.09;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASIAAAEiAQMAAABncE31AAAABlBMVEX///////9VfPVsAAAAAnRSTlMB6MFZljMAAABmSURBVHgB7dArAYBQAMBA/ooAxCASUYhGNCpMPXXTUzeVvjLNb7nWqXSk60zXla47Xc8QLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLlxT4voBlTtI+ZhozPwAAAAASUVORK5CYII=") 49% 0% repeat;
    background-size: 190px 190px; }
    @media (min-width: 751px) {
      #studio .deer-bg:after {
        background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASIAAAEiAQMAAABncE31AAAABlBMVEX///////9VfPVsAAAAAnRSTlMB6MFZljMAAABmSURBVHgB7dArAYBQAMBA/ooAxCASUYhGNCpMPXXTUzeVvjLNb7nWqXSk60zXla47Xc8QLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLlxT4voBlTtI+ZhozPwAAAAASUVORK5CYII=") 49% 0% repeat;
        background-size: 290px 290px; } }

#studio .brown-bg {
  background-color: #3e3e3d; }

#studio #studio-bio {
  position: absolute;
  left: 3%;
  max-width: 880px;
  width: 75%;
  margin-left: 70px;
  font-family: "DIN Next Slab W01 Regular", sans-serif;
  letter-spacing: 0.01em;
  font-size: 1.125em;
  line-height: 1.55em;
  visibility: hidden;
  opacity: 0;
  color: #efece0;
  display: none;
  position: absolute;
  top: 50%;
  margin-top: auto;
  margin-bottom: auto;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 8vh; }
  .ua-safari #studio #studio-bio {
    font-family: 'DIN Next Slab W01 Bold', sans-serif; }
    .ua-safari .ua-safari #studio #studio-bio {
      font-family: 'DIN Next Slab W01 Heavy', sans-serif; }
  @media (min-width: 751px) {
    #studio #studio-bio {
      font-size: 1.4375em;
      left: 6.5%;
      line-height: 1.6em;
      margin-top: 2vh; } }
  @media (min-width: 1025px) {
    #studio #studio-bio {
      font-size: 1.5em;
      margin-top: 4vh; } }
  #studio #studio-bio p {
    perspective: 500px;
    position: relative; }
    #studio #studio-bio p:nth-child(2) {
      display: none; }
    @media (min-width: 751px) {
      #studio #studio-bio p:nth-child(2) {
        display: block; } }

#studio #studio-facts {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden; }
  #studio #studio-facts .bg {
    background: url("/img/studio/bg-cabin.jpg") center center no-repeat;
    background-size: cover; }
    #studio #studio-facts .bg:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(114, 118, 119, 0); }
    #studio #studio-facts .bg:after {
      opacity: 0.1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASIAAAEiAQMAAABncE31AAAABlBMVEX///////9VfPVsAAAAAnRSTlMB6MFZljMAAABmSURBVHgB7dArAYBQAMBA/ooAxCASUYhGNCpMPXXTUzeVvjLNb7nWqXSk60zXla47Xc8QLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLlxT4voBlTtI+ZhozPwAAAAASUVORK5CYII=") 49% 0% repeat;
      background-size: 190px 190px; }
      @media (min-width: 751px) {
        #studio #studio-facts .bg:after {
          background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASIAAAEiAQMAAABncE31AAAABlBMVEX///////9VfPVsAAAAAnRSTlMB6MFZljMAAABmSURBVHgB7dArAYBQAMBA/ooAxCASUYhGNCpMPXXTUzeVvjLNb7nWqXSk60zXla47Xc8QLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLlxT4voBlTtI+ZhozPwAAAAASUVORK5CYII=") 49% 0% repeat;
          background-size: 290px 290px; } }
  #studio #studio-facts .tint {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(40, 40, 40, 0.33);
    z-index: 2; }
  #studio #studio-facts .content {
    position: absolute;
    left: 6.5%;
    bottom: 33%;
    width: 50%; }
    @media (min-width: 751px) {
      #studio #studio-facts .content {
        bottom: 30%; } }
    #studio #studio-facts .content .large {
      overflow: hidden; }
      #studio #studio-facts .content .large h1 {
        font-size: 7.5em;
        color: #383534;
        font-family: "DIN Next W01 Black", sans-serif;
        letter-spacing: -0.05em;
        margin-left: -1%;
        visibility: hidden; }
        @media (min-width: 751px) {
          #studio #studio-facts .content .large h1 {
            font-size: 12.1875em; } }
        .ua-firefox.ua-desktop-windows #studio #studio-facts .content .large h1 {
          position: relative;
          top: -0.1em; }
    #studio #studio-facts .content .small {
      position: absolute;
      top: 135px;
      left: 0;
      max-width: 260px;
      display: none;
      margin-top: -20px;
      font-size: 2.1875em;
      font-family: 'DIN Next Slab W01 Bold', sans-serif;
      line-height: 1.0em;
      letter-spacing: 0.01em;
      text-rendering: optimizeLegibility; }
      .ua-safari #studio #studio-facts .content .small {
        font-family: 'DIN Next Slab W01 Heavy', sans-serif; }
      @media (min-width: 751px) {
        #studio #studio-facts .content .small {
          font-size: 3.3125em;
          top: 210px;
          max-width: 380px; } }
      #studio #studio-facts .content .small div {
        white-space: nowrap; }

#work {
  background-color: #312e2a; }
  #work .title-bg {
    background: url("/img/work/bg-lappy.jpg") 50% 100% no-repeat;
    background-size: cover; }
    #work .title-bg:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(62, 60, 58, 0); }
    #work .title-bg:after {
      opacity: 0.05;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASIAAAEiAQMAAABncE31AAAABlBMVEX///////9VfPVsAAAAAnRSTlMB6MFZljMAAABmSURBVHgB7dArAYBQAMBA/ooAxCASUYhGNCpMPXXTUzeVvjLNb7nWqXSk60zXla47Xc8QLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLlxT4voBlTtI+ZhozPwAAAAASUVORK5CYII=") 49% 0% repeat;
      background-size: 190px 190px; }
      @media (min-width: 751px) {
        #work .title-bg:after {
          background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASIAAAEiAQMAAABncE31AAAABlBMVEX///////9VfPVsAAAAAnRSTlMB6MFZljMAAABmSURBVHgB7dArAYBQAMBA/ooAxCASUYhGNCpMPXXTUzeVvjLNb7nWqXSk60zXla47Xc8QLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLlxT4voBlTtI+ZhozPwAAAAASUVORK5CYII=") 49% 0% repeat;
          background-size: 290px 290px; } }
  #work .subsection-title {
    z-index: 3; }
    #work .subsection-title h1 {
      color: rgba(240, 240, 240, 0.97); }
  #work .brown-bg {
    background-color: #3b3832; }
    #work .brown-bg .inner {
      display: none;
      background-color: #3b3832;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      perspective: 1000px;
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
      .ua-chrome #work .brown-bg .inner {
        display: block; }
  #work #work-samples:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(62, 60, 58, 0); }
  #work #work-samples:after {
    opacity: 0.052;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASIAAAEiAQMAAABncE31AAAABlBMVEX///////9VfPVsAAAAAnRSTlMB6MFZljMAAABmSURBVHgB7dArAYBQAMBA/ooAxCASUYhGNCpMPXXTUzeVvjLNb7nWqXSk60zXla47Xc8QLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLlxT4voBlTtI+ZhozPwAAAAASUVORK5CYII=") 49% 0% repeat;
    background-size: 190px 190px; }
    @media (min-width: 751px) {
      #work #work-samples:after {
        background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASIAAAEiAQMAAABncE31AAAABlBMVEX///////9VfPVsAAAAAnRSTlMB6MFZljMAAABmSURBVHgB7dArAYBQAMBA/ooAxCASUYhGNCpMPXXTUzeVvjLNb7nWqXSk60zXla47Xc8QLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLlxT4voBlTtI+ZhozPwAAAAASUVORK5CYII=") 49% 0% repeat;
        background-size: 290px 290px; } }
  #work #work-samples #sample-title {
    position: absolute;
    top: 50%;
    margin-top: auto;
    margin-bottom: auto;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 5%;
    z-index: 2;
    cursor: pointer;
    margin-top: 5px;
    transition: all 0.3s; }
    @media (min-width: 751px) {
      #work #work-samples #sample-title {
        margin-top: 0;
        left: 6%; } }
    @media (min-width: 751px) {
      #work #work-samples #sample-title {
        left: 4%; } }
    @media (min-width: 1025px) {
      #work #work-samples #sample-title {
        left: 6%; } }
    #work #work-samples #sample-title.offline {
      cursor: default; }
      #work #work-samples #sample-title.offline .line2:after {
        opacity: 0.2; }
      #work #work-samples #sample-title.offline:hover .line2:after {
        background-position: -50px 0; }
    #work #work-samples #sample-title:hover .line2:after {
      background-position: 0 0; }
    #work #work-samples #sample-title h1 {
      display: inline-block;
      background-color: #292826;
      padding: 8px 18px;
      font-size: 2.375em;
      font-family: 'DIN Next Slab W01 Heavy', sans-serif;
      margin-top: -15px;
      letter-spacing: 0.01em;
      clear: left; }
      @media (min-width: 751px) {
        #work #work-samples #sample-title h1 {
          font-size: 3.75em;
          padding: 8px 23px; } }
      @media (min-width: 1025px) {
        #work #work-samples #sample-title h1 {
          font-size: 4.0625em; } }
      #work #work-samples #sample-title h1.line1 {
        position: relative;
        z-index: 2;
        padding-top: 9px; }
      #work #work-samples #sample-title h1.line2 {
        margin-left: 35px;
        position: relative;
        z-index: 1;
        padding-bottom: 10px;
        padding-right: 40px; }
        @media (min-width: 751px) {
          #work #work-samples #sample-title h1.line2 {
            padding-right: 60px; } }
        #work #work-samples #sample-title h1.line2:after {
          transition: 0.3s all;
          content: '';
          position: absolute;
          z-index: 2;
          top: 19px;
          right: 20px;
          width: 15px;
          height: 15px;
          background-image: url("/img/work/launch.png");
          background-size: 15px 15px;
          background-repeat: no-repeat;
          background-size: 45px 15px !important;
          background-position: -30px 0; }
          @media (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
            #work #work-samples #sample-title h1.line2:after {
              background-image: url("/img/work/launch@2x.png");
              background-size: 15px 15px; } }
          @media (min-width: 751px) {
            #work #work-samples #sample-title h1.line2:after {
              width: 25px;
              height: 25px;
              background-image: url("/img/work/launch.png");
              background-size: 25px 25px;
              background-repeat: no-repeat;
              background-size: 75px 25px !important;
              background-position: -50px 0;
              right: 25px; } }
  @media (min-width: 751px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 751px) and (-webkit-min-device-pixel-ratio: 144), (min-width: 751px) and (min-resolution: 144dppx) {
    #work #work-samples #sample-title h1.line2:after {
      background-image: url("/img/work/launch@2x.png");
      background-size: 25px 25px; } }
  #work #work-samples #project-images {
    height: 100%;
    z-index: 1;
    overflow: hidden;
    position: relative; }
    #work #work-samples #project-images ul {
      overflow: hidden;
      position: absolute;
      top: 15.8vh;
      bottom: 16.8vh;
      left: 13vw;
      right: 13vw; }
      @media (min-width: 751px) {
        #work #work-samples #project-images ul {
          top: 15.8vh;
          bottom: 16.8vh;
          left: 10vw;
          right: 10vw; } }
      @media (min-width: 1025px) {
        #work #work-samples #project-images ul {
          left: 12vw;
          right: 12vw; } }
      #work #work-samples #project-images ul li {
        position: absolute;
        width: 100%;
        height: 100%; }
        #work #work-samples #project-images ul li.gow .slice:before {
          background: url("/img/work/sample-gow.jpg") 85% center/cover no-repeat; }
        #work #work-samples #project-images ul li.titanfall .slice:before {
          background: url("/img/work/sample-titanfall.jpg") center center/cover no-repeat; }
        #work #work-samples #project-images ul li.gott .slice:before {
          background: url("/img/work/sample-gott.jpg") center center/cover no-repeat; }
        #work #work-samples #project-images ul li.farmers .slice:before {
          background: url("/img/work/sample-farmers.jpg") center center/cover no-repeat; }
        #work #work-samples #project-images ul li.mortal-kombat .slice:before {
          background: url("/img/work/sample-mortal-kombat.jpg") right center/cover no-repeat; }
        #work #work-samples #project-images ul li.tyas .slice:before {
          background: url("/img/work/sample-tyas.jpg") 20% 20%/cover no-repeat; }
        #work #work-samples #project-images ul li.adidas .slice:before {
          background: url("/img/work/sample-adidas.jpg") 50% 50%/cover no-repeat; }
        #work #work-samples #project-images ul li.avalanche .slice:before {
          background: url("/img/work/sample-avalanche.jpg") 50% 50%/cover no-repeat; }
        #work #work-samples #project-images ul li.cbs-films .slice:before {
          background: url("/img/work/sample-cbs-films.jpg") 50% 50%/cover no-repeat; }
        #work #work-samples #project-images ul li.gcb .slice:before {
          background: url("/img/work/sample-gcb.jpg") 50% 50%/cover no-repeat; }
        #work #work-samples #project-images ul li.laborday .slice:before {
          background: url("/img/work/sample-laborday.jpg") 30% 10%/cover no-repeat; }
        #work #work-samples #project-images ul li.netherrealm .slice:before {
          background: url("/img/work/sample-netherrealm.jpg") 50% 50%/cover no-repeat; }
        #work #work-samples #project-images ul li.sms .slice:before {
          background: url("/img/work/sample-sms.jpg") 50% 50%/cover no-repeat; }
        #work #work-samples #project-images ul li.sweig .slice:before {
          background: url("/img/work/sample-sweig.jpg") 50% 50%/cover no-repeat; }
        #work #work-samples #project-images ul li.wiwh .slice:before {
          background: url("/img/work/sample-wiwh.jpg") 50% 0%/cover no-repeat; }
        #work #work-samples #project-images ul li.allegiant .slice:before {
          background: url("/img/work/sample-allegiant.jpg") 50% 0%/cover no-repeat; }
        #work #work-samples #project-images ul li .slice {
          width: 20.05%;
          height: 100%;
          position: absolute;
          z-index: 2;
          top: 0;
          overflow: hidden; }
          #work #work-samples #project-images ul li .slice:nth-child(1) {
            left: 0;
            background-position: 0 50%; }
          #work #work-samples #project-images ul li .slice:nth-child(2) {
            left: 20%;
            background-position: 20% 50%; }
            #work #work-samples #project-images ul li .slice:nth-child(2):before {
              left: -100%; }
          #work #work-samples #project-images ul li .slice:nth-child(3) {
            left: 40%;
            background-position: 40% 50%; }
            #work #work-samples #project-images ul li .slice:nth-child(3):before {
              left: -200%; }
          #work #work-samples #project-images ul li .slice:nth-child(4) {
            left: 60%;
            background-position: 60% 50%; }
            #work #work-samples #project-images ul li .slice:nth-child(4):before {
              left: -300%; }
          #work #work-samples #project-images ul li .slice:nth-child(5) {
            left: 80%;
            background-position: 80% 50%; }
            #work #work-samples #project-images ul li .slice:nth-child(5):before {
              left: -400%; }
          #work #work-samples #project-images ul li .slice:before {
            content: '';
            width: 500%;
            height: 100%;
            position: absolute; }
  #work #project-details {
    right: calc(13vw - 23px);
    position: absolute;
    top: 50%;
    margin-top: auto;
    margin-bottom: auto;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 300; }
    @media (min-width: 751px) {
      #work #project-details {
        display: block;
        right: calc(10vw - 23px);
        margin-top: 0; } }
    @media (min-width: 1025px) {
      #work #project-details {
        right: calc(12vw - 23px); } }
    #work #project-details.open #expand-btn .inner {
      -ms-transform: rotate(135deg) scale(1.2) translateY(1px) translateX(1px);
      transform: rotate(135deg) scale(1.2) translateY(1px) translateX(1px); }
    #work #project-details #expand-btn {
      background-color: #292826;
      width: 45px;
      height: 42px;
      padding: 11px 15px;
      font-size: 1.4375em;
      cursor: pointer; }
      #work #project-details #expand-btn .inner {
        -ms-transform-origin: center center;
        transform-origin: center center;
        transition: all 0.55s cubic-bezier(0.77, 0, 0.175, 1); }
    #work #project-details .panel {
      position: absolute;
      top: 42px;
      right: 0;
      overflow: hidden; }
      #work #project-details .panel .inner {
        background-color: #292826;
        width: 280px;
        padding: 0px 23px 17px;
        letter-spacing: 0.025em;
        line-height: 1.4em;
        font-size: 0.78125em; }
        @media (min-width: 751px) {
          #work #project-details .panel .inner {
            font-size: 0.96875em;
            width: 410px;
            line-height: 1.5em;
            padding: 22px 25px 19px; } }
        @media (min-width: 1025px) {
          #work #project-details .panel .inner {
            line-height: 1.55em;
            font-size: 1em; } }
        #work #project-details .panel .inner .desc {
          display: none; }
          @media (min-width: 751px) {
            #work #project-details .panel .inner .desc {
              display: inline-block; } }
        #work #project-details .panel .inner .credits {
          text-transform: uppercase;
          font-size: 0.875em;
          color: #c6c6c6;
          letter-spacing: 0.05em;
          display: block;
          margin-top: 6px; }
          @media (min-width: 751px) {
            #work #project-details .panel .inner .credits {
              font-size: 0.75em; } }
          @media (min-width: 1025px) {
            #work #project-details .panel .inner .credits {
              font-size: 0.78125em; } }
          #work #project-details .panel .inner .credits .title {
            color: #696969;
            margin-right: 12px; }

#brands {
  background-color: #323130; }
  #brands .title-bg {
    background: url("/img/brands/bg-stump.jpg") center center no-repeat;
    background-size: cover; }
    #brands .title-bg:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(77, 71, 70, 0); }
    #brands .title-bg:after {
      opacity: 0.06;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASIAAAEiAQMAAABncE31AAAABlBMVEX///////9VfPVsAAAAAnRSTlMB6MFZljMAAABmSURBVHgB7dArAYBQAMBA/ooAxCASUYhGNCpMPXXTUzeVvjLNb7nWqXSk60zXla47Xc8QLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLlxT4voBlTtI+ZhozPwAAAAASUVORK5CYII=") 49% 0% repeat;
      background-size: 190px 190px; }
      @media (min-width: 751px) {
        #brands .title-bg:after {
          background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASIAAAEiAQMAAABncE31AAAABlBMVEX///////9VfPVsAAAAAnRSTlMB6MFZljMAAABmSURBVHgB7dArAYBQAMBA/ooAxCASUYhGNCpMPXXTUzeVvjLNb7nWqXSk60zXla47Xc8QLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLlxT4voBlTtI+ZhozPwAAAAASUVORK5CYII=") 49% 0% repeat;
          background-size: 290px 290px; } }
  #brands .subsection-title h1 {
    color: rgba(240, 240, 240, 0.97); }
  #brands .brown-bg {
    background-color: #44403e; }
    #brands .brown-bg .inner {
      display: none;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      perspective: 1000px;
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      background-color: #44403e; }
      .ua-chrome #brands .brown-bg .inner {
        display: block; }
  #brands #about-brands .title {
    position: absolute;
    left: 6%;
    bottom: 23%;
    max-width: 660px;
    cursor: default;
    font-size: 0.65625em;
    letter-spacing: 0.03em; }
    @media (min-width: 751px) {
      #brands #about-brands .title {
        max-width: 660px;
        font-size: 0.9375em;
        bottom: 19%; } }
    @media (min-width: 1025px) {
      #brands #about-brands .title {
        bottom: 16.8%;
        font-size: 1em; } }
    #brands #about-brands .title h2 {
      font-size: 2.1875em;
      font-family: 'DIN Next Slab W01 Bold', sans-serif;
      letter-spacing: 0.02em;
      line-height: 1.2em; }
      .ua-safari #brands #about-brands .title h2 {
        font-family: 'DIN Next Slab W01 Heavy', sans-serif; }
      #brands #about-brands .title h2 div {
        visibility: hidden; }
  #brands #about-brands #brands-copy {
    visibility: hidden; }
  #brands #about-brands #move-mouse {
    position: absolute;
    position: absolute;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 57px;
    font-family: "DIN Next W01 Medium", sans-serif;
    font-size: 1.125em;
    letter-spacing: 0.03em; }
    @media (min-width: 751px) {
      #brands #about-brands #move-mouse {
        bottom: 75px;
        font-size: 1.1875em; } }
  #brands #about-brands #heart {
    position: absolute;
    left: 6%;
    bottom: 0%;
    width: 350px;
    height: 350px; }
    @media (min-width: 751px) {
      #brands #about-brands #heart {
        bottom: 20%;
        width: 450px;
        height: 450px; } }
    @media (min-width: 1025px) {
      #brands #about-brands #heart {
        bottom: 28%; } }
    #brands #about-brands #heart li {
      max-width: 33px;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0; }
      @media (min-width: 751px) {
        #brands #about-brands #heart li {
          max-width: 55px; } }
      @media (min-width: 1025px) {
        #brands #about-brands #heart li {
          max-width: 66px; } }
      #brands #about-brands #heart li img {
        width: 100%; }

#inquire .title-bg {
  background: url("/img/inquire/bg-clock.jpg") center center no-repeat;
  background-size: cover; }
  #inquire .title-bg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(68, 65, 57, 0); }
  #inquire .title-bg:after {
    opacity: 0.14;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASIAAAEiAQMAAABncE31AAAABlBMVEX///////9VfPVsAAAAAnRSTlMB6MFZljMAAABmSURBVHgB7dArAYBQAMBA/ooAxCASUYhGNCpMPXXTUzeVvjLNb7nWqXSk60zXla47Xc8QLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLlxT4voBlTtI+ZhozPwAAAAASUVORK5CYII=") 49% 0% repeat;
    background-size: 190px 190px; }
    @media (min-width: 751px) {
      #inquire .title-bg:after {
        background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASIAAAEiAQMAAABncE31AAAABlBMVEX///////9VfPVsAAAAAnRSTlMB6MFZljMAAABmSURBVHgB7dArAYBQAMBA/ooAxCASUYhGNCpMPXXTUzeVvjLNb7nWqXSk60zXla47Xc8QLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLly4cOHChQsXLlxT4voBlTtI+ZhozPwAAAAASUVORK5CYII=") 49% 0% repeat;
        background-size: 290px 290px; } }

#inquire .subsection-title h1 {
  color: rgba(240, 240, 240, 0.97); }

#inquire .brown-bg {
  background-color: #44433f; }
  #inquire .brown-bg .inner {
    display: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    perspective: 1000px;
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: #44433f; }
    .ua-chrome #inquire .brown-bg .inner {
      display: block; }

#inquire .particles {
  z-index: 1;
  padding-top: 2px;
  opacity: 0.95;
  position: absolute;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-left: -40px;
  bottom: 0px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  @media (min-width: 751px) {
    #inquire .particles {
      margin-left: 0; } }
  #inquire .particles .icon {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    perspective: 1000px;
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 49.5px;
    height: 119.7px;
    display: none; }

#inquire #contact-info {
  z-index: 2; }
  #inquire #contact-info .inner {
    position: absolute;
    left: 6%;
    bottom: 9.5%;
    max-width: 80%; }
    @media (min-width: 751px) {
      #inquire #contact-info .inner {
        max-width: 620px; } }
    #inquire #contact-info .inner.careers {
      display: none;
      max-width: 720px; }
    #inquire #contact-info .inner p {
      font-size: 1.1875em;
      letter-spacing: 0.015em;
      margin-bottom: 15px;
      line-height: 1.3em;
      color: #c7c4bd;
      max-width: 90%; }
      @media (min-width: 751px) {
        #inquire #contact-info .inner p {
          font-size: 1.4375em;
          margin-bottom: 20px; } }
      .ua-safari #inquire #contact-info .inner p {
        letter-spacing: 0.000em; }
    #inquire #contact-info .inner h1 {
      cursor: default;
      font-family: 'DIN Next Slab W01 Bold', sans-serif;
      font-size: 2.25em;
      color: #efefef; }
      .ua-safari #inquire #contact-info .inner h1 {
        font-family: 'DIN Next Slab W01 Heavy', sans-serif; }
      @media (min-width: 751px) {
        #inquire #contact-info .inner h1 {
          font-size: 4.125em; } }
      #inquire #contact-info .inner h1.email {
        margin-bottom: 15px; }
        #inquire #contact-info .inner h1.email.jobs {
          display: none; }
          @media (min-width: 751px) {
            #inquire #contact-info .inner h1.email.jobs {
              display: block; } }
      #inquire #contact-info .inner h1.phone {
        font-size: 1.75em;
        display: none; }
        @media (min-width: 751px) {
          #inquire #contact-info .inner h1.phone {
            font-size: 3.4375em;
            display: block; } }
    #inquire #contact-info .inner .careers-btn, #inquire #contact-info .inner .careers-close {
      text-decoration: underline;
      cursor: pointer;
      transition: all 0.3s; }
      #inquire #contact-info .inner .careers-btn:hover, #inquire #contact-info .inner .careers-close:hover {
        color: #bbb455; }
    #inquire #contact-info .inner a {
      cursor: url("/img/inquire/cursor.png"), auto;
      transition: all 0.3s; }
      #inquire #contact-info .inner a:hover {
        color: #bbb455; }

body, html {
  background-color: #9f9d9d;
  text-rendering: optimizeLegibility;
  font-family: "DIN Next W01 Regular", sans-serif;
  overflow-x: hidden; }
  .ua-safari body, .ua-safari html {
    font-family: "DIN Next W01 Medium", sans-serif; }
  @media (min-height: 760px) {
    body, html {
      overflow-y: hidden; } }

#mobile-scroll-helper {
  background-color: rgba(50, 50, 50, 0.97);
  height: 1000px;
  position: relative;
  z-index: 5000;
  display: none; }
  #mobile-scroll-helper .ua-mobile-iphone {
    display: block; }
  #mobile-scroll-helper .inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; }
    #mobile-scroll-helper .inner p {
      position: absolute;
      top: 50%;
      margin-top: auto;
      margin-bottom: auto;
      left: 50%;
      margin-left: auto;
      margin-right: auto;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      margin-top: -25px;
      color: #fff;
      letter-spacing: 0.05em;
      font-size: 1.4375em;
      width: 100%;
      text-align: center;
      font-family: 'DIN Next Slab W01 Bold', sans-serif; }
      .ua-safari #mobile-scroll-helper .inner p {
        font-family: 'DIN Next Slab W01 Heavy', sans-serif; }

a {
  color: #ededed;
  transition: all 0.3s; }

#page-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 7vh;
  color: #efefef;
  overflow: hidden;
  z-index: -1; }
  @media (min-width: 751px) {
    .section {
      padding-top: 8vh; } }

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.subsection-title {
  position: absolute;
  left: 6.5%;
  bottom: 20%; }
  @media (min-width: 751px) {
    .subsection-title {
      bottom: 15.5%; } }
  .subsection-title h1 {
    font-size: 3.9375em;
    font-family: "DIN Next W01 Heavy", sans-serif; }
    .ua-firefox.ua-desktop-windows .subsection-title h1 {
      position: relative;
      top: -0.1em; }
    @media (min-width: 751px) {
      .subsection-title h1 {
        font-size: 6.25em; } }
    @media (min-width: 1025px) {
      .subsection-title h1 {
        font-size: 6.875em; } }
  .subsection-title .bar {
    position: absolute;
    top: -18px;
    left: 4px;
    width: 40px;
    height: 10px;
    background-color: #efefef; }
    @media (min-width: 751px) {
      .subsection-title .bar {
        width: 66px;
        height: 15px;
        top: -26px; } }

#pixi-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20; }

.logo {
  width: 88px;
  height: 27px;
  background-image: url("/img/global/climber-logo.png");
  background-size: 88px 27px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 41px;
  right: 37px;
  z-index: 10; }
  @media (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
    .logo {
      background-image: url("/img/global/climber-logo@2x.png");
      background-size: 88px 27px; } }
  @media (min-width: 751px) {
    .logo {
      width: 106px;
      height: 33px;
      background-image: url("/img/global/climber-logo.png");
      background-size: 106px 33px;
      background-repeat: no-repeat;
      bottom: 54px;
      right: 50px; } }
  @media (min-width: 751px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 751px) and (-webkit-min-device-pixel-ratio: 144), (min-width: 751px) and (min-resolution: 144dppx) {
    .logo {
      background-image: url("/img/global/climber-logo@2x.png");
      background-size: 106px 33px; } }

.scroll-cta {
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: -10px;
  z-index: 3;
  cursor: pointer; }
  @media (min-width: 751px) {
    .scroll-cta {
      bottom: 10px; } }
  .scroll-cta:after {
    content: '';
    position: absolute;
    top: -120px;
    left: -30px;
    width: 100px;
    height: 80px;
    background-color: transparent;
    opacity: 0.5;
    cursor: pointer; }
  .scroll-cta .bars {
    position: absolute;
    top: 0px;
    perspective-origin: 50% 50%;
    width: 40px;
    height: 8px; }
    .scroll-cta .bars .bar {
      position: absolute;
      top: 0px;
      width: 40px;
      height: 9px;
      background-color: #fefefe;
      border-radius: 2px; }
      .scroll-cta .bars .bar:nth-child(1) {
        -ms-transform: translateX(-18px);
        transform: translateX(-18px); }
      .scroll-cta .bars .bar:nth-child(2) {
        -ms-transform: translateX(18px);
        transform: translateX(18px); }

.cta {
  font-family: "DIN Next W01 Heavy", sans-serif;
  font-size: 2.5em;
  text-align: center;
  display: none;
  opacity: 0;
  position: absolute;
  bottom: 15.5%;
  z-index: 2;
  padding: 0.39em 0.48em 0.17em;
  left: 50%;
  border-radius: 4px;
  letter-spacing: 0.01em;
  transition: 0.3s background-color; }
  .ua-firefox.ua-desktop-windows .cta {
    padding: 0.2em 0.48em; }
  @media (min-width: 751px) {
    .cta {
      font-size: 3.25em;
      bottom: 13.3%; } }
  #studio .cta {
    background-color: #494847;
    margin-left: -113px; }
    @media (min-width: 751px) {
      #studio .cta {
        margin-left: -143px; } }
  #work .cta {
    background-color: #3a3632;
    margin-left: -130px; }
    @media (min-width: 751px) {
      #work .cta {
        margin-left: -165px; } }
  #brands .cta {
    background-color: #3f3e3d;
    margin-left: -112px; }
    @media (min-width: 751px) {
      #brands .cta {
        margin-left: -155px; } }
  #studio .cta:hover {
    background-color: #4d4c4b; }
  #work .cta:hover {
    background-color: #3e3a36; }
  #brands .cta:hover {
    background-color: #434241; }

#blocker {
  background-color: #9f9d9d;
  z-index: 100; }

#portrait-blocker {
  position: fixed;
  background-color: rgba(40, 40, 40, 0.97);
  width: 100%;
  height: 100%;
  z-index: 10000;
  text-align: center;
  display: none; }
  @media (orientation: portrait) {
    #portrait-blocker {
      display: block; } }
  #portrait-blocker .inner {
    color: #efefef;
    letter-spacing: 0.03em;
    font-size: 1.375em;
    line-height: 1.2em;
    width: 90%;
    font-family: "DIN Next W01 Heavy", sans-serif;
    position: absolute;
    top: 50%;
    margin-top: auto;
    margin-bottom: auto;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
