body{
  background: -webkit-linear-gradient(left, #1d155a, #00c6ff);
}
.emp-profile{
  padding: 3%;
  margin-top: 1%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 60%;
  height: 175px;
  border-radius: 20px;
  object-fit: cover;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -15%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}

.hide {
  display: none !important;
}

.aa-nav {
  text-align: right;
	width: 100%;
  box-sizing: border-box;
	position: fixed;
  top: 0;
  left: 0;
	height: 65px;
	overflow: hidden;
	background: transparent;
}
/* ./Navbar */

/* Logo image */
.aa-nav-icon {
  position: absolute;
  height: 45px;
  cursor: pointer;
  top: 10px;
  left: 20px;
  display: inline;
  z-index: 99999999999999999;
}
/* ./Logo image */

/* Nav items */
.aa-nav-items {
  margin: 0;
	padding-right: 20px;
  line-height: 65px;
	list-style: none;
  position: absolute;
  right: 20px;
}

.aa-nav-items > li {
  display:inline-block;
  padding-left: 30px;
}

.aa-nav-items > li > a {
  text-decoration: none;
  font-size: 17px;
  color: white;
  transition: .3s;
}

.aa-nav-items > li > a:hover {
  color: #1d155a;
}

#Kycu{
  background-color: #1d155a;
  padding: 5px 25px;
  border-radius: 20px;
  color: white;
  border: 1px solid #1d155a;
}

#Kycu:hover{
  color: #1d155a;
  background-color: transparent;
  border: 1px solid #1d155a;
}
/* ./Nav items */

/* Hamburger */
.aa-icon-bar {
  background-color: white;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin-bottom: 4px;
  transition: opacity, transform;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
}

.aa-hamburger-menu {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 999;
  display: inline;
  display: none;
}

.aa-hamburger-menu:hover > .aa-icon-bar {
  background-color: #1d155a;
}

.aa-hamburger-menu:not(.collapsed) .aa-icon-bar:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
  background-color: #1d155a;
}

.aa-hamburger-menu:not(.collapsed) .aa-icon-bar:nth-child(2) {
  opacity: 0;
  transform: translateX(-10px);    
  background-color: #1d155a;
}

.aa-hamburger-menu:not(.collapsed) .aa-icon-bar:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
  background-color: #1d155a;
}
/* ./Hamburger */

/* Mobile Overlay */
.aa-mobile-overlay {
  position: fixed;
	top: 0;
  left: 0;
	height: 100%;
	width: 100%;
	background: white;
	overflow: auto;
	z-index: 9;
  display: none;
}

.aa-mobile-nav-items {
  padding: 0;
  margin: 30px 0px;
  text-align: center;
  list-style: none;
  margin-top: 150px;
}

.aa-mobile-nav-items > li {
  display: block;
  padding-top: 30px;
}

.aa-mobile-nav-items > li > a {
  text-decoration: none;
  font-size: 20px;
  color: #333;
}

.aa-mobile-nav-items > li > a:hover {
  color: #1d155a;
}
/* ./Mobile Overlay */


/* Media queries */
@media screen and (max-width: 768px) {
  .aa-hamburger-menu {
    display: block;
  }

  .aa-nav-items {
    display: none;
  }

  .aa-nav-icon{
    z-index: 9999999999999999999999999999999999 !important;
  }

  .profile-head h5{
    margin-top: 10px;
  }
}