body{
	background-image: url('/img/eventsbgWhite.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	/* background-image-opacity: 0.5; */
}
h1{
	text-align: center;
	font-family: Ribeye;
	color: #845EC2;
	font-size: 100px;
}
.input{
	text-align: center;
}
.input input{
	border-radius: 0%;
	font-size: 20px;
	padding: 10px;
}
::placeholder{
	color: #845EC2;
}
.input #searchBtn{
	color: #845EC2;
	padding: 10.5px;
	padding-top: 16px;
}
.eventCards .card{
	display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top:40px;
}
eventCards .cards{
	width:340px;
    margin:20px;
    border:15px solid#fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}