*{
    padding: 0;
    margin: 0;
}
 
 header  h1{
     text-align: center;
     font-size: 80px;
   font-weight: bold;
     color: #2e2e8d;
     text-transform: uppercase;
 }
 body{
     background-image: url('Untitled\ design.png');
     background-size: cover;
     background-repeat: no-repeat;
 }
 .headicon{
    width: 10%;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;


}


 .img1{
    background-image: url('blue2.png');
    position: relative;
    left: 200px;
}
.img2{
    background-image: url('blue1.png');
   position: relative;
   left:80px;

}

.img3{
    background-image: url('blue2.png');
    z-index: 5;
   
}
.img3 img{
    width: 150px;
    height: 75px;
}
.img4{
    background-image:url('blue1.png');
    position: relative;
    right: 80px;
    z-index: 1;
}
.img5{
    background-image:url('blue2.png');
    position: relative;
    right: 200px;
}
.headicon a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color:#2e2e8d;
    text-shadow: 0.5px 0px white;
}
.headicon:hover{
    
    z-index: 6;
    transform: scale(1.3);
    overflow: hidden;
}